<p id="notice"><%= notice %></p>

<h3>Create a New Station</h3>
<%= form_for @station, id: 'new_station' do |form| %>
  <%= form.text_field :name %>
  <%= form.submit nil, class: 'btn' %>
<% end %>

<h3>Listing Stations</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <td><%= link_to 'Tanks', [station, :tanks] %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
