<%= form_for([@tank.station, @tank]) do |f| %>
  <% if @tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
      <% @tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :gasoline %>
    <%= f.label :gasoline, class: 'active' %><br>
  </div>
  <div class="input-field">
    <%= f.text_field :capacity %>
    <%= f.label :capacity, class: 'active' %><br>
  </div>
  <div class="input-field">
    <%= f.text_field :min_volume %>
    <%= f.label :min_volume, class: 'active' %><br>
  </div>
  <div class="input-field">
    <%= f.text_field :max_volume %>
    <%= f.label :max_volume, class: 'active' %><br>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn' %>
  </div>
<% end %>

<br>
<h5>Import a CSV File</h5>
<%= form_tag import_station_tanks_path, multipart: true do %>
  <div class="file-field input-field">
    <input class="file-path validate" placeholder="import measures - csv - date, buy_volume, final_volume" type="text"/>
    <div class="btn">
      <span>File</span>
      <%= file_field_tag :file %>
    </div>
  </div>
  <%= hidden_field_tag :gasoline, @tank.gasoline %>
  <%= submit_tag "Import CSV", class: 'btn' %>
<% end %>

