<p id="notice"><%= notice %></p>

<h3>Tanks for <%= @station.name %></h3>

<table class="hoverable">
  <thead>
    <tr>
      <th>Gasoline</th>
      <th>Capacity</th>
      <th>Min</th>
      <th>Max</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tanks.each do |item| %>
      <tr>
        <td><%= format item.gasoline %></td>
        <td><%= format item.capacity %></td>
        <td><%= format item.min_volume %></td>
        <td><%= format item.max_volume %></td>
        <td><%= link_to 'Edit', edit_station_tank_path(@station, item) %></td>
        <td><%= link_to 'Destroy', [@station, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tank', new_station_tank_path %>