<h4>Compras</h4>

<%= render 'plans/partials/search_form' %>

<%= cache(cache_key_for_plans(@plans)) do %>

  <% @plans.each do |plan| %>

    <% cache(plan) do %>

      <div class="card-panel">
        <%= render 'plans/partials/date_info', plan: plan %>
        <%= form_for(plan) do |f| %>
          <%= hidden_field :redirect_to, 'buy' %>

          <table>
            <thead>
            <tr>
              <th colspan="1"></th>
              <% plan.measures_hash[:labels].each do |label| %>
                <th><%= label %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>

            <tr>
              <td>Estoque Inicial</td>
              <% plan.measures_hash[:initial_volume].each do |volume| %>
                <td class="<%= volume[1] %>"><%= format volume[0] %></td>
              <% end %>
            </tr>

            <tr>
              <td>Vendas</td>
              <% plan.measures_hash[:forecast_volume].each do |volume| %>
                <td><%= format volume %></td>
              <% end %>
            </tr>

            <tr>
              <td>Compras</td>
              <%= f.fields_for :measures do |m| %>
                <td>
                  <%= m.text_field :buy_volume, class: 'money' %>
                </td>
              <% end %>
            </tr>

            <tr>
              <td>Estoque Final</td>
              <% plan.measures_hash[:forecast_final_volume].each do |volume| %>
                <td class="<%= volume[1] %>"><%= format volume[0] %></td>
              <% end %>
            </tr>
            </tbody>
          </table>

          <div class="actions">
            <%= f.submit 'save', class: 'btn' %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="section">
    <div class="left-align">
      <%= link_to forecast_plans_path, class: 'btn-floating btn-large waves-effect waves-light deep-orange darken-1' do %>
        <i class="mdi-navigation-arrow-back"></i>
      <% end %>
    </div>
  </div>
</div>
