<h4>Previsão de Vendas</h4>

<%= render 'plans/partials/search_form' %>
<%= render 'plans/partials/add_form' %>

<%= cache(cache_key_for_plans(@plans)) do %>

  <% @plans.each do |plan| %>

    <% cache(plan) do %>

      <div class="card-panel">
        <%= render 'plans/partials/date_info', plan: plan %>
        <%= form_for(plan) do |f| %>
          <%= hidden_field :redirect_to, 'forecast' %>

          <table class="hoverable">
            <thead>
            <tr>
              <th colspan="2"></th>
              <% plan.cached_measures.each do |l| %>
                <th><%= l.tank.gasoline %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>

            <% plan.similar_plans.each do |s| %>
              <tr>
                <td><%= format_small s.date %></td>
                <td><%= events s %></td>
                <% s.cached_measures.each do |ss| %>
                  <td>
                    <%= format ss.sell_volume %>
                  </td>
                <% end %>
              </tr>
            <% end %>

            <tr>
              <td>Previsão</td>
              <td colspan="1"></td>
              <%= f.fields_for :measures do |m| %>
                <td>
                  <%= m.text_field :forecast_volume, class: 'money' %>
                </td>
              <% end %>
            </tr>
            </tbody>
          </table>

          <div class="actions">
            <%= f.submit 'save', class: 'btn' %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="section">
    <div class="right-align">
      <%= link_to buy_plans_path, class: 'btn-floating btn-large waves-effect waves-light deep-orange darken-1' do %>
        <i class="mdi-navigation-arrow-forward"></i>
      <% end %>
    </div>
  </div>
</div>

