<p id="notice"><%= notice %></p>

<%= render 'plans/partials/search_form' %>

<div class="section">
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Station</th>
      <th>Holiday</th>
      <th>Holiday Reference</th>
      <th>Type</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= format plan.date %></td>
        <td><%= plan.station.name %></td>
        <td><%= plan.holiday %></td>
        <td><%= plan.holiday_reference %></td>
        <td><%= plan.date_type %></td>
        <td><%= link_to 'Measures', edit_plan_path(plan) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>