<h4>Medições</h4>

<%= render 'plans/partials/search_form' %>

<%= cache(cache_key_for_plans(@plans)) do %>

  <% @plans.each do |plan| %>

    <% cache(plan) do %>

      <div class="card-panel">
        <div class="<%= date_class plan %>">
          <h5><%= plan.station.name %></h5>
          <h5>Estoque Inicial em <%= l (plan.date + 1.day) %></h5>
        </div>
        <%= form_for(plan) do |f| %>
          <%= hidden_field :redirect_to, 'measures' %>

          <table>
            <thead>
            <tr>
              <th colspan="1"></th>
              <% plan.cached_measures.each do |l| %>
                <th><%= l.cached_tank.gasoline %><span class="tank-number-label"><%= l.cached_tank.number %></span></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Previsto</td>
              <% plan.measures_hash[:forecast_final_volume].each do |volume| %>
                <td><%= format volume[0] %></td>
              <% end %>
            </tr>
            <tr>
              <td>Real</td>
              <%= f.fields_for :measures do |m| %>
                <td>
                  <%= m.text_field :final_volume, class: 'money' %>
                </td>
              <% end %>
            </tr>
            </tbody>
          </table>

          <div class="actions">
            <%= f.submit 'save', class: 'btn' %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="section">
    <div class="right-align">
      <%= link_to forecast_plans_path, class: 'btn-floating btn-large waves-effect waves-light deep-orange darken-1' do %>
        <i class="mdi-navigation-arrow-forward"></i>
      <% end %>
    </div>
  </div>
</div>

